<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Owner Home</title>
</head>
<body>
    <h1>Welcome : Restaurant Owner</h1>
    <button onclick="window.location.href='/menu'">Menu</button>
    <button onclick="window.location.href='/orders'">Orders</button>
    <button onclick="window.location.href='/details'">Details</button>




     <button onclick="window.location.href='/login'">Logout</button>
</body>
</html>
